<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanll.auth.service.dao.PermissionBeanMapper">
  <!---->
  <resultMap id="BaseResultMap" type="com.yanll.auth.service.domain.PermissionBean">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="system_code" jdbcType="VARCHAR" property="systemCode" />
    <result column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="editable" jdbcType="INTEGER" property="editable" />
  </resultMap>
  <sql id="Base_Column_List">
    id, system_code, menu_id, url, permission_name, enabled, editable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_permission
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from m_permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yanll.auth.service.domain.PermissionBean">
    insert into m_permission (id, system_code, menu_id, 
      url, permission_name, enabled, 
      editable)
    values (#{id,jdbcType=BIGINT}, #{systemCode,jdbcType=VARCHAR}, #{menuId,jdbcType=BIGINT}, 
      #{url,jdbcType=VARCHAR}, #{permissionName,jdbcType=VARCHAR}, #{enabled,jdbcType=INTEGER}, 
      #{editable,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yanll.auth.service.domain.PermissionBean">
    insert into m_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="systemCode != null">
        system_code,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="permissionName != null">
        permission_name,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="editable != null">
        editable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="systemCode != null">
        #{systemCode,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="editable != null">
        #{editable,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yanll.auth.service.domain.PermissionBean">
    update m_permission
    <set>
      <if test="systemCode != null">
        system_code = #{systemCode,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="editable != null">
        editable = #{editable,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yanll.auth.service.domain.PermissionBean">
    update m_permission
    set system_code = #{systemCode,jdbcType=VARCHAR},
      menu_id = #{menuId,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=INTEGER},
      editable = #{editable,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <delete id="deleteByPrimaryKeys">
    delete from m_permission where id IN <foreach collection="ids" item="id" separator="," open="(" close=")">#{id}</foreach>
  </delete>
</mapper>