<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanll.auth.service.dao.PermissionBeanMapper">
    <select id="selectPermissions" resultMap="BaseResultMap">
        select m.menu_name,p.* from m_permission p
        left join m_menu m on p.menu_id = m.id
        where p.portal_id = #{portal_id} and p.enabled = 1 order by m.id
    </select>
    <select id="selectGroupPermissions" resultMap="BaseResultMap">
        select a.* from m_permission a where a.enabled = 1 and a.id in (
          select b.permission_id from m_permission_group_rel b where b.group_id = #{group_id}
        )
    </select>
    <select id="selectPermissionsByUserId" resultMap="BaseResultMap">
        select * from m_permission where id in (
          select permission_id from m_permission_group_rel where group_id in (
            select id from m_permission_group where id in (
              select group_id from m_user_group_rel where user_id = #{user_id}
            )
          )
        )
        union all
        select * from m_permission where id in(
          select permission_id from m_user_permission_rel where user_id = #{user_id}
        )
    </select>
</mapper>