<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanll.auth.service.dao.PermissionGroupBeanMapper">
    <select id="selectPermissionGroups" resultMap="BaseResultMap">
        select * from m_permission_group where portal_id = #{portal_id}
    </select>
    <select id="selectCountByNameAndPortal" resultType="java.lang.Integer">
        select count(*) from m_permission_group where portal_id = #{portal_id} and group_name = #{group_name}
    </select>
</mapper>