<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanll.business.auth.dao.MenuBeanMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <select id="selectAllMapMenusForTree" resultType="java.util.Map">
        select * from m_menu where enabled = 1 and portal_id = #{portal_id}
    </select>
</mapper>