<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.yanll.business.auth.domain"/>
    </typeAliases>
    <plugins>
        <!--<plugin interceptor="com.github.pagehelper.PageInterceptor"/>-->
        <plugin interceptor="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
            <property name="dialectClass" value="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect"/>
        </plugin>
    </plugins>
    <mappers>
        <mapper resource="dao/MenuBeanMapper.xml"/>
        <mapper resource="dao/UserBeanMapper.xml"/>
        <mapper resource="dao/OperationBeanMapper.xml"/>
        <mapper resource="mapper/MenuBeanMapper.xml"/>
        <mapper resource="mapper/UserBeanMapper.xml"/>
        <mapper resource="mapper/OperationBeanMapper.xml"/>
        <!--<mapper resource="mapper/GroupOperationRelBeanMapper.xml"/>-->
        <!--<mapper resource="mapper/PermissionGroupBeanMapper.xml"/>-->
        <!--<mapper resource="mapper/UserGroupRelBeanMapper.xml"/>-->
        <!--<mapper resource="mapper/UserOperationRelBeanMapper.xml"/>-->
    </mappers>
</configuration>